<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="col-sm-6 col-xs-12">
    <h1>Our Team</h1>
    <p>Brought to you by the following one man team :)</p>
    <p>With guidance from <%= link_to 'firehose project', 'http://www.thefirehoseproject.com/' %></p>
  </div>
  <div class= "col-sm-6 col-xs-12">
  <%= image_tag("joshua.jpg", class: 'img-responsive profile-pic') %>
  <p>Joshua is a gaming enthusiast with a passion for coding</p>
  <p>Check out my <%= link_to 'github page', 'https://github.com/tohyung85' %></p>
  </div>
</div>